<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid">
                <div class="card-block">
                    <h2 class="card-title">About Us</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid"/>
                <div class="card-block">
                    <h2 class="card-title">Streching</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid">
                <div class="card-block">
                    <h2 class="card-title">Chemicals & Preservatives Yummy!</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid">
                <div class="card-block">
                    <h2 class="card-title">Cardiovascular Training</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid">
                <div class="card-block">
                    <h2 class="card-title">Build Lean Muscle</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid">
                <div class="card-block">
                    <h2 class="card-title">Balance and Stabiliy</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid">
                <div class="card-block">
                    <h2 class="card-title">Sports spacific Traning</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid">
                <div class="card-block">
                    <h2 class="card-title">Home Training</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid">
                <div class="card-block">
                    <h2 class="card-title">Swimming Classes</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid">
                <div class="card-block">
                    <h2 class="card-title">Injury and surgical rehabilitation</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="splash.jpg" class="card-img-top img-fluid">
                <div class="card-block">
                    <h2 class="card-title">Personal Training Videos Catered to your needs.</h2>
                    <p>Swan Vitality Personal Trainers is a group of Elite trainers who work together to build a stronger community
                        though health and fitness. Established July 2000 by Trainer and CEO Sean Swan. Since 2000 we have
                        seen the trends of processed foods rise as well as cancer in America. Were here to give people the
                        knowledge and understanding of the poisons that your body is ingesting daily and give you the tools
                        to reverse the damage we have so unknowingly been inflicting to ourselves for so many years whether
                        it be posture related or chemical. From child to senior. Professional Athlete to soccer mom we have
                        a customized plan made specifically for your needs and goals. We train locally in the Anaheim Hills
                        Area doing private training and exercise classes at your Home, Park or our Private Gym N.A.S.M /
                        N.C.E.P. / N.A.F.S.H / A.S.F.A Certified Literally thousands of hours hands on training and results!</p>
                </div>
            </div>