<div class="jumbotron jumbotron-fluid" id="mainHeaderColor">
  <div class="container" id="backgroundMain">
    <h1 id="mainHeader">Swan Vitality Personal Trainers</h1>
    <nav class="navbar navbar-toggleable-sm bg-info" id="buttonBackground">
      <div class="container">
        <button class="navbar-toggler" id="buttonBackground" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon" id="buttonBackground" ></span>
      </button>
        <div class="collapse navbar-collapse" id="mainNav">
          <div class="navbar-nav" id="navButtons">
            <a class="nav-item nav-link active" id="navLinks" href="#">Home</a>
            <a class="nav-item nav-link active" id="navLinks" href="#">Packages</a>
            <a class="nav-item nav-link active" id="navLinks" href="#">Videos</a>
            <a class="nav-item nav-link active" id="navLinks" href="#">News</a>
            <a class="nav-item nav-link active" id="navLinks" href="#">Store</a>
            <a class="nav-item nav-link active" id="navLinks" href="#">About</a>
            </div>
        </div>
      </div>
    </nav>

  </div>










































  <!-- <nav class="navbar navbar-toggleable-md  navbar-light bg-faded bg-info" id="mainHeadColor">
  <a class="navbar-brand" id="mainHeader" href="#">Swan Vitality Personal Trainers</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="sidebar-nav">
      <br>
      <div class="row">
        <div class="col-md-2 homeBtn">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 videoBtn">
          <li class="nav-item">
            <a class="nav-link" href="#">Videos</a>
          </li>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 storeBtn">
          <li class="nav-item">
            <a class="nav-link" href="#">Store</a>
          </li>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 packagesBtn">
          <li class="nav-item">
            <a class="nav-link" href="#">Packages</a>
          </li>
        </div>
      </div>
    </ul>
  </div>
</nav> -->